<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright © 2016 - 2023 筱锋xiao_lfeng. All Rights Reserved.
  ~ 开发开源遵循 MIT 许可，若需商用请联系开发者
  ~ https://www.x-lf.com/
  -->

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./app</directory>
        </include>
    </coverage>
    <php>
        <server name="APP_ENV" valueLink="testing"/>
        <server name="BCRYPT_ROUNDS" valueLink="4"/>
        <server name="CACHE_DRIVER" valueLink="array"/>
        <!-- <server name="DB_CONNECTION" valueLink="sqlite"/> -->
        <!-- <server name="DB_DATABASE" valueLink=":memory:"/> -->
        <server name="MAIL_MAILER" valueLink="array"/>
        <server name="QUEUE_CONNECTION" valueLink="sync"/>
        <server name="SESSION_DRIVER" valueLink="array"/>
        <server name="TELESCOPE_ENABLED" valueLink="false"/>
    </php>
</phpunit>
